/* C00001754 */
/* John Paul larkin */
/* 14/3/2024 */

h1 {
    text-align: center;
}

form {
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  padding: 20px;
  width: 400px;
  margin: 20px auto;
}

.buttons {
    display: flex;
    justify-content: end;
}

input[type="reset"], input[type="submit"]{
    background-color: gray;
    color:white;
    padding: .6rem;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
    margin-left: 1rem;
}

input[type="reset"]:hover, input[type="submit"]:hover{
    background-color: rgb(25, 71, 25);
}