/* C00001754 */
/* John Paul larkin */
/* 14/3/2024 */

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

form {
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  padding: 20px;
  width: 400px;
  margin: 20px auto;
}

.buttons {
  display: flex;
  justify-content: end;
}

input[type="reset"],
input[type="submit"] {
  background-color: gray;
  color: white;
  padding: 0.6rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: rgb(25, 71, 25);
}

.output {
  max-width: 440px;
  height: 410px;
  background-color: grey;
  margin: auto;
  padding:1rem;
  border: 2px solid black;
  color:white;
}

span {
    /* background-color: red; */
    color:blue;
}
