/* C00001754  */
/* John Paul larkin  */
/* Project Part 1 20%  */

/* Here I have two backgrounds for the hero, same as the home page */
/* This darkens the background without also darkening the overlaying text  */
/* Z-index was nescessary here to counteract stacking context  */
/* Else hero would overlay the nav */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("/images/contact3.jpg");
  background-size: cover, cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40rem;
  color: var(--white);
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
  margin-left: 3rem;
  padding-top: 6rem;
}

.contact-details {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

.contact-details > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-details > div > div {
  max-width: 20rem;
  height: 20rem;
  background-color: var(--cream);
  box-shadow: 1px 1px 5px 0px var(--black);
  margin: 1rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 30rem;
}

@media (min-width: 700px) {
  .contact-details {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: auto;
  }
}
